<app-header></app-header>

  
<div id="container"> 
  
   <div class="tabla"> 
    <div class="fila header"> 
      <div class="columna">Descripción</div> 
      <div class="columna">Valor</div> 
      <div class="columna">Actualizar</div>
    </div> <div class="fila" *ngFor="let tarifa of tarifas"> 
      <div class="columna">{{ tarifa.descripcion }}</div>
       <div class="columna">${{ tarifa.valor }}</div> 
       <div class="columna">
        <i class="material-icons" (click)="actualizar(tarifa.id)">edit</i>
       </div>
      </div>
     </div> 
    </div>
