<app-header></app-header>


<div class="tabla">

  <!-- Fila de encabezados -->
  <div class="fila">
      <!-- Columna de Tiempo -->
      <div class="columna">
          <div class="header">Tiempo</div>
      </div>

      <!-- Columna de Precio -->
      <div class="columna">
          <div class="header">Precio</div>
      </div>

      <!-- Columna Nueva -->
      <div class="columna">
          <div class="header">Acciones</div>
      </div>
  </div>

  <!-- Fila 1 -->
  <div class="fila">
      <div class="columna">1/2 hora</div>
      <div class="columna">{{precios_auto.precio_auto1}}</div>
      <div class="columna">
          <i class= material-icons (click)="actualizar('precio_auto1')">edit</i>
      </div>
  </div>

  <!-- Fila 2 -->
  <div class="fila">
      <div class="columna">1 hora</div>
      <div class="columna">{{precios_auto.precio_auto2}}</div>
      <div class="columna">
        <i class= material-icons (click)="actualizar('precio_auto2')">edit</i>
      </div>
  </div>

  <!-- Fila 3 -->
  <div class="fila">
      <div class="columna">3 horas</div>
      <div class="columna">{{precios_auto.precio_auto3}}</div>
      <div class="columna">
        <i class= material-icons (click)="actualizar('precio_auto3')">edit</i>
      </div>
  </div>

  <!-- Fila 4 -->
  <div class="fila">
      <div class="columna">5 horas</div>
      <div class="columna">{{precios_auto.precio_auto4}}</div>
      <div class="columna">
        <i class= material-icons (click)="actualizar('precio_auto4')">edit</i>
      </div>
  </div>

  <!-- Fila 5 -->
  <div class="fila">
      <div class="columna">8 horas</div>
      <div class="columna">{{precios_auto.precio_auto5}}</div>
      <div class="columna">
        <i class= material-icons (click)="actualizar('precio_auto5')">edit</i>
      </div>
  </div>

  <!-- Fila 6 -->
  <div class="fila">
      <div class="columna">10 horas</div>
      <div class="columna">{{precios_auto.precio_auto6}}</div>
      <div class="columna">
        <i class= material-icons (click)="actualizar('precio_auto6')">edit</i>
      </div>
  </div>

  <!-- Fila 7 -->
  <div class="fila">
      <div class="columna">12 horas</div>
      <div class="columna">{{precios_auto.precio_auto7}}</div>
      <div class="columna">
        <i class= material-icons (click)="actualizar('precio_auto7')">edit</i>
      </div>
  </div>

  <!-- Fila 8 -->
  <div class="fila">
      <div class="columna">24 horas</div>
      <div class="columna">{{precios_auto.precio_auto8}}</div>
      <div class="columna">
        <i class= material-icons (click)="actualizar('precio_auto8')">edit</i>
      </div>
  </div>
</div>
