<header>
    <div class="fondo">
    <h1>Parking App</h1>
    <nav>
        <a class="links" [routerLink]="['/estado-cocheras']" routerLinkActive="activa" > estado-cocheras</a>
        
        <a class="links" [routerLink]="['/reportes']" routerLinkActive="activa" > reportes</a>
        <a class="links" (click)="seleccionar_vehiculo()"><i class="material-icons"> savings</i></a>
        <a class="links" [routerLink]="['/login']" routerLinkActive="activa"><i class="material-icons"> person </i></a>
        
        
    </nav>
    </div>

</header>
