


h1{
    font-size: 2rem
}
a{
    font-size: 2rem;
}
.fondo{
    background-color: rgb(255, 115, 0);
     text-decoration: none;
}
.links{
    text-decoration: none;
     color: black ;
     margin: 100px;
}
nav{
    text-align: center;
    justify-items: center;
    position: relative;
    
}