<app-header></app-header>
<div id="container">
<div class="tabla">

    <!-- Fila de encabezados -->
    <div class="fila">
        <!-- Columna de Tiempo -->
        <div class="columna">
            <div class="header">Tiempo</div>
        </div>

        <!-- Columna de Precio -->
        <div class="columna">
            <div class="header">Precio</div>
        </div>

        <!-- Columna Nueva -->
        <div class="columna">
            <div class="header">Acciones</div>
        </div>
    </div>

    <!-- Fila 1 -->
    <div class="fila">
        <div class="columna">1/2 hora</div>
        <div class="columna">{{precios.precio1}}</div>
        <div class="columna">
            <i class= material-icons (click)="actualizar('precio1')">edit</i>
        </div>
    </div>

    <!-- Fila 2 -->
    <div class="fila">
        <div class="columna">1 hora</div>
        <div class="columna">{{precios.precio2}}</div>
        <div class="columna">
          <i class= material-icons (click)="actualizar('precio2')">edit</i>
        </div>
    </div>

    <!-- Fila 3 -->
    <div class="fila">
        <div class="columna">3 horas</div>
        <div class="columna">{{precios.precio3}}</div>
        <div class="columna">
          <i class= material-icons (click)="actualizar('precio3')">edit</i>
        </div>
    </div>

    <!-- Fila 4 -->
    <div class="fila">
        <div class="columna">5 horas</div>
        <div class="columna">{{precios.precio4}}</div>
        <div class="columna">
          <i class= material-icons (click)="actualizar('precio4')">edit</i>
        </div>
    </div>

    <!-- Fila 5 -->
    <div class="fila">
        <div class="columna">8 horas</div>
        <div class="columna">{{precios.precio5}}</div>
        <div class="columna">
          <i class= material-icons (click)="actualizar('precio5')">edit</i>
        </div>
    </div>

    <!-- Fila 6 -->
    <div class="fila">
        <div class="columna">10 horas</div>
        <div class="columna">{{precios.precio6}}</div>
        <div class="columna">
          <i class= material-icons (click)="actualizar('precio6')">edit</i>
        </div>
    </div>


    </div>
</div>
