
 
<div class="login-container">
  <h1>PARKING   APP</h1>
    <div class="lado-derecho">
      <form class="form-de-login">
        <label for="username">USUARIO</label>
        <input type="text" id="username" [(ngModel)]="datosLogin.username" name="Usuario" placeholder="username" />
  
        <label for="password">CONTRASEÑA</label>
        <input type="password" id="password" [(ngModel)]="datosLogin.password" name="password" placeholder="password" />
        
        <button type="button" class="iniciosesion" (click)="login()">Iniciar sesión </button>
        <button  class="Registrarse" (click)="registrarse()"> NO TIENE CUENTA? REGISTRESE AQUI !</button>
      </form>
    </div>
  </div>


