@use "././../../../../public/styles/colores.scss";

* {
  font-family: "Knewave";
}

h1 {
  font-size: 5rem;
  text-align: center;
  color: colores.$color-principal;
  position: absolute; 
  top: 4%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: 100vh;
  background-image: url(./../../../../public/img/car-5548242_1280.jpg);
  background-size: cover;
}

.lado-derecho {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: transparent;
  border-radius: 10px;
}

.form-de-login {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 10px;
  width: 300px;
}

.form-de-login label {
  font-size: 0.9rem;
  color: hsl(221, 87%, 22%);
}

.form-de-login input {
  padding: 8px;
  border: 1px solid #3a3a3a;
  border-radius: 4px;
}

.iniciosesion {
  padding: 15px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; 

  &:hover {
    background: linear-gradient(45deg, #000000, #434343); 
    transform: scale(1.05); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
  }
}

.form-de-login .Registrarse {
  margin-top: 10px;
  text-align: center;
  color: #3a3a3a;
  text-decoration: none;
  cursor: pointer;
}

.register-link:hover {
  text-decoration: underline;
}


.swal2-popup {
  background-image: url(./../../../../public/img/car-3474.gif);
  margin-bottom: 5px;
  width: 450px;
  height: 350px;
  text-align: center; 
}


.swal2-title {
  font-size: 1.5rem;
  color: white;
  text-align: center; 
}


.swal2-content {
  text-align: center; 
  color: #cccccc;
}


.swal2-input {
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
  margin: 5px auto 15px; 
  width: 350px;
  color: #ccc;
}




  