
$color-secundario: 118AB2;
$color-secundario_claro:rgb(34, 82, 159);
$color-secundario_oscuro:rgb(34, 82, 159);
$color-principal:rgb(34, 82, 159);
$color-principal_claro:rgb(34, 82, 159);
$color-principal_oscuro:rgb(34, 82, 159);
$color-terciario:rgb(34, 82, 159);
$color-terciario_claro:rgb(34, 82, 159);
$color-terciario_oscuro:rgb(34, 82, 159);

